{% extends 'mysite/base.html' %}
{% load static %}
{% block content %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for job in jobs.all %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <h6>{{ job.title }}</h6>
                            <style>
                                h6 {
                                    text-align: center;
                                    padding: 10px;
                                    font-size: 15px;
                                    font-weight: bold;
                                }
                            </style>
                            <img class="card-img-top" src="{{ job.image.url }}" height="250px">
                            <div class="card-body" style="min-height: 350px; max-height: 350px;">
                                <p class="card-text">{{ job.summary }}</p>
                                <style>
                                    p {
                                        padding: 5px;
                                        font-size: 16px;
                                        color: #1d3557;
                                        font-family: sans-serif;
                                        text-align: center;
                                    }
                                </style>
                                <p>
                                <a href="{{ job.link }}" class="btn btn-info">Read Me</a>
                                    <style>
                                        a{
                                            padding:50px;
                                        }
                                    </style>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}